<html>
    <head>
        <title>Forget Password</title>
        <link rel="stylesheet" href="../asset/CSS/changePasswordStyle.css">
    </head>

    <body>
        <div class="theme"><div class="text"><b>Change Password</div></b>
        <form method="post" action="../controller/forgetPasswordCheck.php">
            <div class="form">
                
                <div class="group">
                    <label>Email: </label>
                    <input type="text" name="email" placeholder="Enter your email" id="email">
                </div>

                <div class="group">
                    <label>NID: </label>
                    <input type="text" name="nid" placeholder="Enter your nid" id="nid">
                </div>

                <div class="group">
                    <label>New Password: </label>
                    <input type="password" name="newPassword" placeholder="Enter a new password" id="newPassword">
                </div>

                <div class="group">
                    <label>Confirm Password: </label>
                    <input type="password" name="confirmPassword" placeholder="Re-enter the new password" id="confirmPassword">
                </div>

                <div class="button-style">
                    <input type="button" name="changePass" value="Change Password" onclick="changePassword()">
                    <input type="button" name="cancel" value="Go Back" onclick="goBack()">
            </div>
        </div>
        </form>
        <script src="../asset/JS/forgetPasswordCheck.js"></script>
    </body>
</html>