body
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
    background-color: #f4f4f4;
}

.legal-agree-main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 2px solid mediumseagreen;
    border-radius: 8px;
    box-shadow: 0 4px 8px #333;
    background-color: #f4f4f4;
    gap: 15px;
    font-size: 14px;
    color: black;
}

.legal-agree
{
    font-size: 30px;
    font-weight: bold;
    color: mediumseagreen;
    margin-bottom: 5px;
}

.terms
{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align:justify;
}

.terms label
{
    font-size: 18px;
    color: #333;
    text-align: left;
    gap: 4px;
}

.terms pre
{
    padding: 8px;
    font-size: 5px;
    border: 1px solid mediumseagreen;
    border-radius: 4px;
    background-color: #f9f9f9;
    overflow: auto;
    max-height: 200px;
    text-align: left;
    justify-items: left;
}

.terms-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.terms-buttons input[type="button"]
{
    background-color: mediumseagreen;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    width: auto;
}

.terms-buttons input[type="button"]:hover
{
    background-color: seagreen;
}


.policy
{
    margin-top: 5px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.policy a
{
    color: mediumseagreen;
    text-decoration: underline;
}